---
import Layout from '../../layouts/Layout.astro'
import Box from '../../components/Box.astro'
import { getCollection, type CollectionEntry } from 'astro:content'

const papers = await getCollection('papers')

// Sort by date (most recent first)
const sortedPapers = papers.sort((a: CollectionEntry<'papers'>, b: CollectionEntry<'papers'>) => {
  return b.data.date.localeCompare(a.data.date)
})
---

<Layout
  back
  title="Research"
  description="Papers on compositional interpretability of neural networks, by Thomas Dooms and collaborators."
>
  <div class="space-y-4">
    {sortedPapers.map((paper: CollectionEntry<'papers'>) => <Box {...paper.data} />)}
  </div>
</Layout>
