---
import Author from './Author.astro'

interface Props {
  authors: string[]
}

const { authors } = Astro.props

const parsed = authors.map((a) => {
  const isEqual = a.endsWith('*')
  const name = isEqual ? a.slice(0, -1) : a
  return { name, isEqual, isSelf: name === 'Thomas Dooms' }
})
---

<p class="text-base-content/75">
  {
    parsed.map((author, i) => (
      <>
        <Author {...author} />
        {i < parsed.length - 1 && <span class="text-base-content/65">, </span>}
      </>
    ))
  }
</p>
